<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="/bootstrap/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
    </div>
    <!-- Main Footer -->
    <footer th:fragment="footerFragment" class="main-footer text-sm" style="text-align:center;">
        <strong>Copyright &copy; 2023~ <a href="" target="_blank">KIWAN</a>.</strong>
        All rights reserved.
    </footer>

</html>