<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">

  <div  layout:fragment="content">
        <!-- Main Sidebar Container -->
        <aside id="aside" class="main-sidebar sidebar-dark-primary elevation-4"> <!--text-sm-->
            <!-- Brand Logo -->
            <a href="/dashboard" class="brand-link" style="padding-left:10px;">
                <img src="/bootstrap/dist/img/AdminLTELogo.png" alt="G2Works Logo" class="brand-image img-circle elevation-3" style="opacity: .8;">
                <img src="/bootstrap/dist/img/logo.png" alt="G2Works Logo" style="width:50%;opacity:1.0;margin-left:10px;margin-top:-5px;opacity: .8;">
                <!-- <span class="brand-text font-weight-normal">G2Works</span> -->
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item menu-open">
                            <!--<a href="#" class="nav-link active">-->
                            <span class="nav-link">
                                <p>
                                    관리자 (admin)
                                    <a href="/" class="right badge badge-secondary" style="color:#ffffff;font-weight:normal;">LOGOUT</a>
                                </p>
                            </span>
                        </li>
                        <li class="nav-header">환경설정</li>
                        <li class="nav-item menu-is-opening menu-open">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    고객센터관리
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" id="menu-81" class="nav-link left-menu-padding">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>관리자조회</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" id="menu-82" class="nav-link left-menu-padding">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>관리자등록</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h6 class="m-0" id="_selectTitle">-</h6>
                        </div><!-- /.col -->
                        <div class="col-sm-6 menu-history-link">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item active" id="_selectHistory">-</li>
                                <!-- <li class="breadcrumb-item">Dashboard</li> -->
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div id="contents">





                            <p>
                                FAQ 스타일 : <a href="http://210.206.234.98/sample/admin/pages/examples/faq.html" target="_blank">/sample/admin/pages/examples/faq.html</a>
                            </p>
                            <div style="display:flex;justify-content:center;">
                                <section class="content" style="width:800px;font-size:1.1em;">
                                    <div class="row">
                                        <div class="col-12" id="accordion">
                                            <div class="card card-primary card-outline">
                                                <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            1. Lorem ipsum dolor sit amet
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                                                    <div class="card-body">
                                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-primary card-outline">
                                                <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            2. Aenean massa
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseTwo" class="collapse" data-parent="#accordion" style="">
                                                    <div class="card-body">
                                                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-primary card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            3. Donec quam felis
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-warning card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            4. Donec pede justo
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-warning card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            5. In enim justo
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-warning card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            6. Integer tincidunt
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseSix" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-danger card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            7. Aenean leo ligula
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-danger card-outline">
                                                <a class="d-block w-100" data-toggle="collapse" href="#collapseEight">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            8. Aliquam lorem ante
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseEight" class="collapse" data-parent="#accordion">
                                                    <div class="card-body">
                                                        Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card card-danger card-outline">
                                                <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseNine" aria-expanded="false">
                                                    <div class="card-header">
                                                        <h4 class="card-title w-100" style="font-weight:normal;">
                                                            9.  Quisque rutrum
                                                        </h4>
                                                    </div>
                                                </a>
                                                <div id="collapseNine" class="collapse" data-parent="#accordion" style="">
                                                    <div class="card-body">
                                                        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>





                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <script>
        // 페이지 로딩후 실행, 화면의 첫번째 메뉴 클릭
        function fnInit() {
            $('#menu-81').click();
        }
    </script>
</html>
